Hamekoz.Argentina.Afip/Web References/WSAA/LoginCms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:impl="https://wsaa.afip.gov.ar/ws/services/LoginCms" xmlns:tns1="http://wsaa.view.sua.dvadac.desein.afip.gov" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="https://wsaa.afip.gov.ar/ws/services/LoginCms" targetNamespace="https://wsaa.afip.gov.ar/ws/services/LoginCms" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://wsaa.view.sua.dvadac.desein.afip.gov">
      <xsd:import namespace="https://wsaa.afip.gov.ar/ws/services/LoginCms" />
      <xsd:element name="loginCms">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginCmsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="loginCmsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://wsaa.afip.gov.ar/ws/services/LoginCms">
      <xsd:complexType name="LoginFault">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="fault" type="intf:LoginFault" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginCmsResponse">
    <wsdl:part name="parameters" element="tns1:loginCmsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginFault">
    <wsdl:part name="fault" element="intf:fault" />
  </wsdl:message>
  <wsdl:message name="loginCmsRequest">
    <wsdl:part name="parameters" element="tns1:loginCms" />
  </wsdl:message>
  <wsdl:portType name="LoginCMS">
    <wsdl:operation name="loginCms">
      <wsdl:input name="loginCmsRequest" message="intf:loginCmsRequest" />
      <wsdl:output name="loginCmsResponse" message="intf:loginCmsResponse" />
      <wsdl:fault name="LoginFault" message="intf:LoginFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginCmsSoapBinding" type="intf:LoginCMS">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loginCms">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="loginCmsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginCmsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LoginFault">
        <wsdlsoap:fault use="literal" name="LoginFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginCMSService">
    <wsdl:port name="LoginCms" binding="intf:LoginCmsSoapBinding">
      <wsdlsoap:address location="https://wsaa.afip.gov.ar/ws/services/LoginCms" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>